<html>
        <head>

                <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />

                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<style>
			body {
  				background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://i.redd.it/bez0ffe3a0g31.jpg');
				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>

	</head>

        <body>
		
		<br>
		
		<center>
			
			<h1 style="color:white;">Ecuaciones de una variable</h1>	
			<a href="/" class="btn btn-primary">Inicio</a>
		
		</center>
		
		<br><br>

		<div class="container">

			<div class="card">
  			<div class="card-body">
		
				<h2> Seleccione un método: </h2> <br>

				<div class="row">
					
					<div class="col"> <a href="/busquedasIncrementales"> <h5> Búsquedas incrementales </h5> </a> </div>
					<div class="col"> <a href="/biseccion"> <h5> Bisección </h5> </a> </div>
					<div class="col"> <a href="/reglaFalsa"> <h5> Regla falsa </h5> </a> </div>

				</div> <hr>
				
				<div class="row">
					
					<div class="col"> <a href="/puntoFijo"> <h5>Punto fijo</h5> </a> </div>
					<div class="col"> <a href="/newton"> <h5>Newton </h5> </a> </div>
					<div class="col"> <a href="/secante"> <h5>Secante</h5> </a> </div>

				</div> <hr>
				
				<div class="row">
					
					<div class="col"> <a href="/raicesMultiples"> <h5>Raíces múltiples</h5> </a> </div>

				</div>

			</div>
			</div>
				
		</div>

	</body>
</html>

