<html>
        <head>

                <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />

                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<style>
			body {
  				background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://i.redd.it/bez0ffe3a0g31.jpg');
				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>

	</head>

        <body>
		
		<br><center>
                <h1 style="color:white;">Análisis Numérico - Universidad EAFIT</h1>
		</center><br><br>

		<div class="container">

			<div class="row">

				<div class="col">
				<center>
					
					<form method="GET", action="/ecuacionesDeUnaVariable">
						<input type="submit" class="btn btn-primary" value="Ecuaciones de una variable">
					</form>
				
				</center>
				</div>
				
				<div class="col">
					<center>
			
					<form method="GET", action="/sistemasDeEcuaciones">
						<input type="submit" type="button" class="btn btn-primary" value="Sistemas de ecuaciones">
					</form>
					
					</center>
				</div>
				
				<div class="col">
					<center>
					
					<form method="GET", action="/interpolacion">
						<input type="submit" type="button" class="btn btn-primary" value="Interpolación">
					</form>

					</center>
				</div>

			</div>

		</div>

	</body>
</html>

