<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	

	<style>
        	body {
          		background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://www.medellinherald.com/media/k2/items/cache/62fb5f1024529266c6e71c0c0c9ddb3c_XL.jpg');
                       	background-repeat: no-repeat;
                       	background-attachment: fixed;
                       	background-size: 100% 100%;
                     }

      	</style>
	
	</head>

<body>
	<br><center>
		<h1 style="color:white;">Sistemas de ecuaciones lineales</h1>	
		<a href="/" class="btn btn-primary">Inicio</a>
		<a href="/sistemasDeEcuaciones" class="btn btn-primary">Métodos del capítulo</a>
	</center><br><br>
			
	<div class="container">

		<form method="POST" action="/gaussianaSimple">
			
		<div class="card">
  		<div class="card-body">

			<div class="row">

				<div class="col">
					<h3>Eliminación gaussiana simple.</h3>
				</div>
				<div class="col">
					<button class="btn btn-link">¿Cómo funciona el método?</button>
				</div>

			<p>

			La eliminación Gaussiana simple consiste en dos procesos fundamentales. El
primero es la transformación del sistema para obtener uno equivalente mediante
uso de operaciones elementales (intercambio de filas, sumar una fila con un múltiplo
de otra y multiplicar una fila por un escalar no nulo) cuya matriz de coeficientes es
triangular superior (tiene ceros debajo de la diagonal principal) y el segundo proceso
es llevar a cabo un proceso de despeje regresivo con el sistema equivalente para
así hallar la solución al sistema inicial.
Esto se expresa de la siguiente manera:
Ax=b es el sistema inicial, mediante operaciones elementales se obtiene el sistema
equivalente Ux=B de forma que, U es triangular superior, luego se lleva a cabo
sustitución regresiva, es decir primero se va a encontrar la solución de 𝑥𝑛 luego la
solución de 𝑥𝑛−1 y así sucesivamente hasta llegar a 𝑥1y con esto se obtiene la
solución al sistema original.
El algoritmo recibe una matriz de coeficientes, un vector de términos independientes
y el tamaño de la matriz, para finalmente retornar los valores de x
			</p>

			</div>

			<hr>

			<div class="row">
				
				<div class="col">
					
					<label> Matriz de coeficientes: </label><br>
					<textarea rows="4" cols="50" name="txtA"></textarea>

				</div>
				
				<div class="col">
				
					<label> Vector de términos independientes: </label><br>
					<input type="text" name="txtB">
			
					<br><br>
			
					<input type="checkbox" name="checkEtapas" id="checkEtapas">
    					<label for="checkEtapas">Etapas del proceso</label>
					
					<br><br>	

					<input type="submit" type="button" class="btn btn-primary" value="Ejecutar">
					
				</div>

			</div>

		</div>
		</div>

		</form>

		{% block content %}
		{% if n %}
			
			<div class="card">
  			<div class="card-body">

			<!-- IMPORTANTE -->
			{% if proceso == True %}	

			<label>* Los elementos de la matriz en negrita son los que se volverán 0 en la etapa.</label>
			<h2>Etapas del proceso:</h2> <br>

			{% for k in range(0, numEtapas) %}
			<div class="row" style="background-color: white;">
					

				<div class="col">
			
					<h5>Etapa {{k+1}}:</h5>

					<table class="table table-bordered table-sm">
					{% for i in range(0, n) %}
						<tr>
						{% for j in range(0, n + 1) %}
					
							<td>
							{% if j == k and i > k %}

							<b>{{ etapas[k][i][j] }}</b>

							{% else %}
							
							{{ etapas[k][i][j] }}

							{% endif %}
							</td>

						{% endfor %}
						</tr>
					{% endfor %}
					</table>
					
				</div>
				
				<div class="col">
				
					<label>Matriz resultante de la etapa:</label>

					<table class="table table-bordered table-sm">
					{% for i in range(0, n) %}
						<tr>
						{% for j in range(0, n + 1) %}
					
							<td> {{ etapas[k+1][i][j] }} </td>

						{% endfor %}
						</tr>
					{% endfor %}
					</table>
					
				</div>

			</div><hr>	
			{% endfor %}
			
			{% endif %}
			
			<h2>Conjunto solución del sistema:</h2> <br>

			<table class="table table-bordered table-sm">
                      	
				<tr>

                      			{% for i in range(0, n) %}
					<td> <b>X{{ i+1 }}</b> </td>
					{% endfor %}

				</tr>

				<tr>

                      			{% for i in range(0, n) %}
					<td>{{ x[i] }}</td>
					{% endfor %}

                         	</tr>
              		
			</table>
	
			
			</div>
			</div>

		{% endif %}
		{% endblock %}

	</div>
		
	<script>

		function ayuda() {

			alert("Ayuda del método.");

		}

	</script>

</body>
</html>
